/*google font*/
@import url('https://fonts.googleapis.com/css?family=Roboto|Condensed&display=swap');

/*layout*/
 :root {
  --primary:#dfadff;
  --error: #ff1f1f;
}

body {
  background: #f8f83f;
  margin: 0;
 font-family: Arial, Helvetica, sans-serif;
}

header {
  background: #ffffff;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

header a {
  color: #191919;
  text-decoration: none;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/*homepage*/

.home {
  display: grid;
  grid-template-columns:  3fr 1fr;
  gap: 100px;
}

.workoutdetails {
  background: #ffff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(19, 14, 14, 0.213);
}

.workoutdetails h3 {
  margin: 0 0 10px 0;
  font-size: 1.4em;
  color: #3bff37;
}

.workoutdetails p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}


.workoutdetails span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #fd79aa;
  padding: 6px;
  border-radius: 10%;
  color: hwb(0 98% 0%);
}


/*new workout form*/
label,input{
 display: block;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}


form{
  background: #f8f83f;
  border: 0;
  columns: #fff;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
  cursor: pointer;
  color: #030303;

}

button {
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  border: 0;
  background: #ff1fdd;
  color: #f9f9f9;
  padding: 10px;
}

div.error {
  padding: 10px;
  background: #ffffff;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 2px solid var(--error);
}